@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background-primary: #22252A;
    --background-secondary: #2D3035;
    --background-lighter: #373A3E;

    --color-primary: #fff;
    --color-secondary: rgba(167, 177, 191, 1);
    --color-sucess: #0c792d;
    --color-warn: rgb(216, 75, 10);
    --color-disabled: #959495;

    --blue: rgb(25, 88, 223);
    --purple: rgb(129, 21, 218);
    --tomato: rgb(226, 46, 23);
    --pink: rgb(208, 20, 214);

    --width-xlg: 1920px;
    --width-lg: 1024px;
    --width-md: 840px;
    --width-sm: 412px;

    --border-radius-lg: 1rem;
    --border-radius-md: .75rem;
    --border-radius-sm: .45rem;
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--background-primary);
    color: var(--color-secondary);
    width: 100%;
    height: 100vh;
}

.blue {
    color: var(--blue);
}

.purple {
    color: var(--purple);
}

.tomato {
    color: var(--tomato);
}

.pink {
    color: var(--pink);
}


ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: inherit;
}

/* --------- Layout Config ----- */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 90px;
    padding-bottom: 60px;
}


.hidden {
    display: none;
}

.active {
    color: var(--color-primary);
    background-color: var(--background-lighter);
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
}

.w-xlg {
    min-width: var(--width-xlg);
}

.w-lg {
    min-width: var(--width-lg);
}

.w-md {
    max-width: var(--width-md);
}

.w-sm {
    min-width: var(--width-sm);
}


.list {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding-bottom: 10px;
}

.list .list-item {
    margin: 0 10px;
    padding: 20px;
    border-radius: var(--border-radius-md);
}

.list .list-item span {
    margin-right: 30px;
}


.list .list-item:hover {
    color: var(--color-primary);
    background-color: var(--background-lighter);
    cursor: pointer;

}


/* -------- END Layout -------- */

/* Navbar Styles */
.nav {
    background-color: var(--background-secondary);
    color: var(--color-secondary);

    width: 100%;
    min-height: 68px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;

    position: fixed;
    top: 0;

    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav .nav-items {
    display: inline-flex;
    gap: 1rem;
}

.nav .nav-items li {
    padding: 10px 8px;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
}

.nav .nav-items li:hover {
    background-color: var(--background-lighter);
}

/* End Navbar */


/* ------- Sidebar Styles -------- */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-secondary);
    width: 360px;
    height: 100%;

    padding-top: 100px;
    z-index: 0;
}

.sidebar .sidebar-title {
    font-size: 20px;
    font-weight: 500;
    padding: 1rem;
    border-top: 3px solid var(--background-lighter);
}

.sidebar .sidebar-title i {
    margin-right: .7rem;
}

/* ------- End Sidebar ------- */

/* ------- Content Style --------*/

.content {
    height: 100%;
    min-width: 740px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* ------- End Content -------- */


/* ----- Card Style ------ */

.card {
    background: var(--background-secondary);
    color: var(--color-primary);
    border-radius: var(--border-radius-lg);
    width: 100%;
    padding: 20px;
    transition: transform 0.25s ease-out;
}

.card:hover {
    box-shadow: rgba(44, 44, 51, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transform: translate(5px, -5px);
    transform-origin: 50% 50%;
}

.card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .card-header div {
    display: inline-flex;
    gap: 20px;
}

.card .card-title {
    font-size: 25px;
}

.card .card-body {
    margin-top: 20px;
}

.card-action-btn {
    padding: 5px;
    cursor: pointer;
}

.card-action-btn:hover {
    background-color: var(--background-lighter);
    border-radius: var(--border-radius-md);
}

.date {
    color: var(--color-sucess);
}

/* ----- END Card -------- */


/* Tablet View */
@media screen and (max-width: 767px) {
    .card {
        width: 420px;
    }
}

/* Mobile View */
@media screen and (max-width: 420px) {
    body {
        position: relative;
    }

    .nav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        min-height: 50px;
        justify-content: center;
    }

    .nav .nav-items ul li {
        margin: 0px .5rem;
        padding: 10px;
    }

    .nav .nav-items ul li span {
        display: none;
    }

}

input[type="checkbox"] {
    display: grid;
    place-content: center;

    -webkit-appearance: none;
    appearance: none;
    background-color: var(--background-secondary);
    margin: 0;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    margin: 0;
    font: inherit;
    color: transparent;
    width: 1.75em;
    height: 1.75em;
    border: 0.15em solid var(--color-warn);
    border-radius: var(--border-radius-sm);
    transform: translateY(-0.075em);
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-primary);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
    color: var(--color-disabled);
    cursor: not-allowed;
}